body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

audio {
  display: none; /* نخلي الموسيقى مخفية تماما */
}
.btn-play {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #e91e63;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-play:hover {
  background-color: #c2185b;
}
